body {
    color: #000000;
    font-size: 18px;
}

li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flash {
    font-size: 20px;
    width: 200px;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 5px;
}

.status-box {
    width: 1em;
    height: 1em;
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
    vertical-align: text-bottom;
}

.urgency-box {
    width: 1em;
    height: 1em;
    display: inline-block;
    text-align: right;
    font-weight: bolder;
}

.location-box {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
}

.name-box {
    width: 70%;
    display: inline-block;
}

.bg-green {
    background-color: lightgreen;
}
.bg-yellow {
    background-color: lightyellow;
}
.bg-red {
    background-color: indianred;
}