body {
    color: #000000;
    font-size: 18px;
}

.status-box {
    width: 1em;
    height: 1em;
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.urgency-box {
    font-weight: bolder;
}

.location-box {
    text-align: center;
    font-weight: bolder;
}

.time-box {
    text-align: center;
    font-weight: bolder;
}

.name-box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.send-button {
    width: 100%;
    height: 3em;
}

.bg-green {
    background-color: lightgreen;
}
.bg-yellow {
    background-color: lightyellow;
}
.bg-red {
    background-color: indianred;
}