<!DOCTYPE html>
<html ng-app="spcl">
<head lang="en">
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js?e"></script>
    <script src="js/phone.js?e"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css?e">
    <title>SPCL phone</title>
</head>
<body ng-controller="phoneCtrl"
      ng-class="{ 'bg-green': user.status.id == statuses.AVAILABLE, 'bg-red': user.status.id == statuses.BUSY }">
<div class="container">
    <h1>You are {{user.status.description | uppercase}}</h1>
    <div>
        <button class="btn btn-default" ng-click="setStatus(statuses.AVAILABLE)">Available</button>
        <button class="btn btn-default" ng-click="setStatus(statuses.BUSY)">Busy</button>
    </div>
    <h1>Messages</h1>
    <div class="panel"
         ng-class="{ 'panel-success': message.urgency.id == urgencies.LOW, 'panel-danger': message.urgency.id == urgencies.HIGH }"
         ng-repeat="message in messages | orderBy:'created_at':true">
        <div class="panel-heading">
            <h4>{{message.sender.name}} <small>at {{commonService.stringToDate(message.created_at) | date:'yyyy-MM-dd HH:mm'}}</small></h4>
        </div>
        <div class="panel-body" ng-if="message.message">
            {{message.message}}
        </div>
    </div>
    <h1>Send message</h1>
    <div class="panel panel-success" ng-show="flashShown">
        <div class="panel-body">
            Message sent!
        </div>
    </div>
    <form>
        <div class="form-group">
            <label class="control-label" for="toUserId">To user id</label>
            <input type="number" id="toUserId" class="form-control" ng-model="message.to_user_id" required>
        </div>
        <div class="form-group">
            <label class="control-label" for="messageText">Message text</label>
            <input type="text" id="messageText" class="form-control" ng-model="message.message">
        </div>
        Urgency:
        <div class="radio">
            <label>
                <input type="radio" ng-model="message.urgency_id" ng-value="urgencies.LOW" name="urgency">
                Low
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="message.urgency_id" ng-value="urgencies.HIGH" name="urgency">
                High
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-click="sendMessage()" ng-disabled="!message.to_user_id || !message.urgency_id">
                Send
            </button>
        </div>
    </form>
</div>
</body>
</html>