body {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

.messages {
    width: 350px;
    margin: auto;
    text-align: left;
}
.messages ul {
    list-style: none;
}

.bg-green {
    background-color: lightgreen;
}
.bg-yellow {
    background-color: lightyellow;
}
.bg-red {
    background-color: indianred;
}