<!DOCTYPE html>
<html ng-app="spcl">
<head lang="en">
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js?e"></script>
    <script src="js/tablet.js?e"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css?e">
    <title>SPCL tablet</title>
</head>
<body ng-controller="tabletCtrl"
      ng-class="{ 'bg-green': user.status.id == statuses.AVAILABLE, 'bg-red': user.status.id == statuses.BUSY }">
<div class="container" style="width: 350px;">
    <h3 class="text-center">
        {{user.name}}
    </h3>
    <h1 class="text-center" style="margin-bottom: 0px">
        {{user.status.description | uppercase}}
    </h1>
    <p class="text-center">
        <span ng-if="user.status.id == statuses.AVAILABLE">(feel free to knock)</span>
        <span ng-if="user.status.id == statuses.BUSY">(please leave a message)</span>
    </p>
    <div class="panel panel-success" ng-show="flashShown">
        <div class="panel-heading">
            Thank you for your message!
        </div>
    </div>
    <div ng-if="user.status.id != statuses.AVAILABLE">
        <h2 class="text-center">Leave message</h2>
        <form>
            <div class="form-group">
                <input type="text" id="fromUser" class="form-control" placeholder="Your name" maxlength="255" ng-model="message.from">
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <input type="text" id="messageText" class="form-control" placeholder="Message and contact info (optional)" maxlength="255" ng-model="message.message">
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="message.urgency_id" ng-value="urgencies.LOW" name="urgency">
                            Low urgency
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="message.urgency_id" ng-value="urgencies.HIGH" name="urgency">
                            High urgency
                        </label>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="form-group btn-group-vertical" style="margin-top: 15px; width: 100%;">
                        <button type="submit" class="btn btn-default send-button" ng-click="sendMessage()" ng-disabled="!message.from || !message.urgency_id">
                            Send
                        </button>
                        <button class="btn btn-default btn-sm send-button" ng-click="cancelMessage()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="user.status.id != statuses.AVAILABLE">
        <h2 class="text-center">Groups</h2>
        <div ng-repeat="group in groups">
            <h3 class="text-center">{{group.name}}</h3>
            <div class="container-fluid">
                <div class="row" ng-repeat="groupUser in group.users | filter:exceptOwner | orderBy:['status.id','name']">
                    <div class="col-sm-2">
                        <div class="status-box"
                             ng-class="{ 'bg-green': groupUser.status.id == statuses.AVAILABLE, 'bg-red': groupUser.status.id == statuses.BUSY }">
                        </div>
                    </div>
                    <div class="name-box col-sm-7">
                        {{groupUser.name}}
                    </div>
                    <div class="location-box col-sm-3" ng-if="groupUser.location">
                        {{groupUser.location}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center">Latest Visitors</h2>
    <div class="container-fluid">
        <div class="row" ng-repeat="message in messages | orderBy:'created_at':true | limitTo:10">
            <div class="urgency-box col-sm-2">
                <span ng-if="message.urgency.id == urgencies.LOW">!</span>
                <span ng-if="message.urgency.id == urgencies.HIGH">!!</span>
            </div>
            <div class="name-box col-sm-7">
                {{message.sender ? message.sender.name : message.from}}
            </div>
            <div class="time-box col-sm-3">
                {{commonService.stringToDate(message.created_at) | date:'HH:mm'}}
            </div>
        </div>
    </div>
</div>
</body>
</html>