<!DOCTYPE html>
<html ng-app="spcl">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/sha256.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js?e"></script>
    <script src="js/tag.js?e"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css?e">
    <title>Send message</title>
</head>
<body ng-controller="tagCtrl"
      ng-class="{ 'bg-green': user.status.id == statuses.AVAILABLE, 'bg-red': user.status.id == statuses.BUSY }">
<div class="container-fluid">
    <div>
        <h1 class="text-center">
            <small>Leave message for</small><br>
            {{user.name}}
        </h1>
        <div class="panel panel-success" ng-show="flashShown">
            <div class="panel-heading">
                Thank you for your message!
            </div>
        </div>
        <form>
            <div class="form-group">
                <input type="text" id="fromUser" class="form-control" placeholder="Your name" maxlength="255" ng-model="message.from">
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <input type="text" id="messageText" class="form-control" placeholder="Message and contact info (optional)" maxlength="255" ng-model="message.message">
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="message.urgency_id" ng-value="urgencies.LOW" name="urgency">
                            Low urgency
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="message.urgency_id" ng-value="urgencies.HIGH" name="urgency">
                            High urgency
                        </label>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="form-group btn-group-vertical" style="margin-top: 15px; width: 100%;">
                        <button type="submit" class="btn btn-default send-button" ng-click="sendMessage()" ng-disabled="!message.from || !message.urgency_id">
                            Send
                        </button>
                        <button class="btn btn-default btn-sm send-button" ng-click="cancelMessage()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>